    <aside class="col-lg-3 mb-4">
      <div class="bg-white p-4 rounded-4 shadow-sm">
        <h3 class="text-primary fw-bold mb-4 text-center">Categories</h3>

        {% if form.category.errors %}
          <div class="alert alert-danger small mb-3 rounded-3">{{ form.category.errors }}</div>
        {% endif %}

        <div class="accordion" id="categoryAccordion">
          {% for parent_category in top_level_categories %}
            {% if parent_category.slug %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ parent_category.slug }}">
                  <a href="{% url 'category_detail' parent_category.slug %}" style="font-size: large;" class="accordion-button collapsed d-block text-decoration-none text-dark fw-bold px-3 py-2 rounded">
                    {% if parent_category.icon %}
                      <i class="{{ parent_category.icon }} me-2"></i>
                    {% endif %}
                    {{ parent_category.name }}
                  </a>
                </h2>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </aside>
